<!-- <div class="container"> -->
  <h3 class="w3l_head">Jason Elliot J</h3>
    <p class="w3l_para">elliotjjason@gmail.com</p><br>
      <div class="container">
          <!-- <div class="col-md-6 eduction-w3l"> -->
            <h3 class="w3l_head_education ">My Experience</h3>
            <div class="education-agile-grids">
              <div class="education-agile-w3l">
                <div class="education-agile-w3l-year">
                  <h4>Assistant Manager</h4>
                  <h6>Oct 2017 - Jan 2019</h6>
                </div>
                <div class="education-agile-w3l-info">
                  <h4>Reliance Jio Infocomm Limited, Chennai, Tamil Nadu.</h4>
                  <p>Executed test cases and raised issues in Ring0 Mavenir Testing.</p>
                  <p>Analyzing and tracking daily sales across distributors and own stores. Technical
support in sales operations and marketing.</p>
                  <p>New site acquisition, drive testing, Optimization and network complaints closed for
network operations.</p>
                  <p>Attended to customer issues and resolved complaints.</p>
                </div>
              </div>
            </div>

          <!-- </div> -->
        </div>
<!-- </div> -->
