<div class="main", id="home">
  <div class="banner banner-profile">  
    <img src="https://s3.ap-south-1.amazonaws.com/user-source/jason/Picture1.png" alt=" " class="img-responsive">
    <h2>I'm JASON ELLIOT J</h2>
    <span>PROGEAMMER/WEB DEVELOPER<span>
    <br><a class="btn btn-xs btn-primary"  target="_blank" style="font-size:20px;" href="https://s3.ap-south-1.amazonaws.com/user-source/jason/Jason+Elliot+Resume.pdf">DOWNLOAD RESUME</a>
  </div>
</div>
