<div class="main", id="home">
  <div class="banner">
    <img src="http://www.superiorgunshop.com/templates/blackrifle/images/department-handguns.jpg" alt=" " class="img-responsive">
    <h2>I'm JASON ELLIOT J</h2>
    <span>PROGEAMMER/WEB DEVELOPER<span>
  </div>
</div>
