<div class ="profile">
  <h3 class="w3l_head">MY PROFILE</h3>
    <div  class="container">
      <p class="w3l_para">a few words about me</p>
      <div class="col-md-7 w3ls-agile-center ">
        <div class="w3ls-agile-center-info">
          <ul>
            <li class="hl4">Job Title</li>
            <li class="h15">Programmer/Web Developers</li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 w3ls-agile-center" >
        <div class="w3ls-agile-center-info">
          <ul>
            <li class="hl4">Name</li>
            <li class="h15">Jason Elliot J</li>
          </ul>
        </div>
      </div>
      <div class=" col-md-7 w3ls-agile-center">
        <div class=" w3ls-agile-center-info">
          <ul>
            <li class="hl4">Sex</li>
            <li class="h15">Male</li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 w3ls-agile-center">
        <div class="w3ls-agile-center-info">
          <ul>
            <li class="hl4">Email Address</li>
            <li class="h15">elliotjjason@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
</div>
