<div class ="profile">
  <h3 class="w3l_head">MY PROFILE</h3>
    <p class="w3l_para">a few words about me</p>
    <div class="col-md-7 w3ls-agile-center ">
      <div class="w3ls-agile-center-info">
        <h4>Job Title</h4>
        <p>programmer/web developer</p>
      </div>
    </div>
    <div class="col-md-7 w3ls-agile-center">
      <div class="w3ls-agile-center-info">
        <h4>Name</h4>
        <p>Jason Elliot J</p>
      </div>
    </div>
    <div class=" col-md-7 w3ls-agile-center">
      <div class=" w3ls-agile-center-info">
        <h4>Sex</h4>
        <p>Male</p>
      </div>
    </div>
    <div class="col-md-7 w3ls-agile-center">
      <div class="w3ls-agile-center-info">
        <h4>Email Address</h4>
        <p>elliotjjason@gmail.com</p>
      </div>
    </div>
    </div>
</div>
