<div class ="container">
  <h3 class="w3l_head">MY PROFILE</h3>
  <p class="w3l_para">a few words about me</p>
    <div class="w3l-grids-about c1">
      <div class="col-md w3ls-agile-center ">
        <div class="w3ls-agile-center-info">
            <h3>Job Title:</h3>
            <p>Programmer/Web Developer<p>
        </div>
      </div>

        <div class="col-md w3ls-agile-center ">
          <div class="w3ls-agile-center-info">
              <h3>Name:</h3>
              <p>Jason Elliot J<p>
          </div>
        </div>
        <div class="col-md w3ls-agile-center ">
          <div class="w3ls-agile-center-info">
              <h3>Sex:</h3>
              <p>Male</p>
          </div>
        </div>
        <div class="col-md w3ls-agile-center ">
          <div class="w3ls-agile-center-info">
              <h3>Interests:</h3>
              <p>Guitar, Music, Fitness</p>
          </div>
        </div>
        <div class="col-md w3ls-agile-center ">
          <div class="w3ls-agile-center-info">
              <h3>Email Address:</h3>
              <p><a class="mail" href="mailto:elliotjjason@gmail.com" target="_top">elliotjjason@gmail.com</a><p>
          </div>
        </div>
      </div>
    </div>
