<div class="container">
  <h3 class="w3l_head">MY PROJECTS</h3>
  <div class="container">
        <div class="education-agile-grids">
          <div class="education-agile-w3l">
            <div class="education-agile-w3l-year">
              <a class="heading-project" href="https://alpha-blog-jasonelliot.herokuapp.com/"><h4>Alpha Blog</h4></a>
              <h6>Online Blogging Site</h6>
            </div>
            <div class="education-agile-w3l-info">
              <a class="heading-project" href="https://alpha-blog-jasonelliot.herokuapp.com/"><h4 ><b>ALPHA BLOG</b></h4></a>
              <p>It's an online blog where users can signup to read, create, edit, update and delete artices.</p>
              <p>Users can also edit and update there own profile and there contents.</p>
              <p><a href="https://alpha-blog-jasonelliot.herokuapp.com/">https://alpha-blog-jasonelliot.herokuapp.com/</a></p>
              <p></p>
            </div>
          </div>
          <div class="divider1"></div>
          <div class="education-agile-w3l">
            <div class="education-agile-w3l-year">
              <a class="heading-project" href="https://alpha-blog-jasonelliot.herokuapp.com/"><h4>Message Me</h4></a>
              <h6>Chatting App</h6>
            </div>
            <div class="education-agile-w3l-info">
              <a class="heading-project" href="https://alpha-blog-jasonelliot.herokuapp.com/"><h4 ><b>Chat App</b></h4></a>
              <p>A chat application that enable the users to communicate with other users,a group chat application.</p>
              <p>Users can signup and start chatting with other users.</p>
              <p><a href="https://alpha-blog-jasonelliot.herokuapp.com/">https://alpha-blog-jasonelliot.herokuapp.com/</a></p>
              <p></p>
            </div>
          </div>
        </div>
    </div>
</div>
