<div class ="profile">
  <h3 class="w3l_head">Jason Elliot J</h3>
    <p class="w3l_para">elliotjjason@gmail.com</p>
      <div class="resume", id ="resume" >
        <div class="col-md-6 resume-w3l">
          <h3>My Education</h3>
        </div>
      </div>
        <div class="col-md-6 skill">
          <h3>My skill</h3>
        </div>
      </div>
</div>
