<div class ="profile">
  <h3 class="w3l_head">Jason Elliot J</h3>
    <p class="w3l_para">elliotjjason@gmail.com</p>
      <div class="resume", id ="resume" >
        <div class="col-md-6 resume-w3l">
          <h3>My Education</h3>
            <div class="education-agile-w3l">
              <div class="education-grids">
                <div class="education-year">
                  <h4>2013-2017</h4>
                  <h6>Bachelor Degree</h6>
                </div>
                <div class="education-agile-w3l-info">
                  <h4>Loyola-ICAM college of engineering and technology</h4>
                  <p>Engineering graduate in the department if Information & Technology,CGPA – 6.51.</p>
                </div>
                <div class="clearfix">

                </div>
              </div>
              <div class="education-grids">
                <div class="education-year">
                  <h4>2012-2013</h4>
                  <h6>High School</h6>
                </div>
                <div class="education-agile-w3l-info">
                  <h4>Elite Matriculation Higher Secondary School</h4>
                  <p>Mathematics & Biology Major in High School, Percentage–86.4%</p>
                </div>
                <div class="clearfix">

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 skill">
            <h3>My skill</h3>
            <div class="skill-agile">
                <p class="blabel">Ruby On Rails</p>
                <p class="blabel">HTML</p>
                <p class="blabel">CSS</p>
                <p class="blabel">Bootstrap</p>
                <p class="blabel">Semantic UI</p>
                <p class="blabel">Marketing</p>
                <p class="blabel">Networking</p>
          </div>
        </div>
      </div>
