.navbar-custom {
    background-color:#44c7f4;
    color: black;
    border-radius:0;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: right;
}
.nav-text{
  color:black;
  font-weight: bold;
}
.nav-text:hover {
  color: white;
  background: rgb(68, 199, 244) !important;

}
.nav-text:hover::after{
  content:' ]';
  color: black;
  transition: all .1s ;
  width: 100%;
  height: 100%;
  position: relative;

}
.nav-text:hover::before{
  content:'[  ';
  color: black;
  transition: all .1s ;
  width: 100%;
  height: 100%;
  position: relative;
}
.center{
  text-align: center;
}
.jumbotron{
  color:  skyblue;
  height: 150px;
  width: 100%;
  position: fixed;
  padding-top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}
.fixed-bottom{
  padding-top: 0px;
  margin-bottom: 0px !important;
}

.footer{
  height: 300px;
  width: 100%;
  position: relative;
  font-weight: 100;
  color: black;
}
.footer-title{
  color: black;
  font-size: 30px;

}

body{
  // background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/56/54/S4LwVn.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.logo{

  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: block;

}
.tinted {
  margin-bottom: 0px;

  opacity: 0.9;
}
.title{


}
img {
  border: 1px solid #fff;
  border-radius: 4px;  /* Rounded border */
  padding: 5px;
  width: 150px;

}
.banner{
  margin: 0 auto;
  text-align: center;
  padding-top: 6em;
}
.banner img{
  border: 7px solid #333;
  width: 30%;

  margin: 0 auto;
  text-align: center;
}
.img-responsive{

    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.banner span{
  color: #44c7f4;
  letter-spacing: 4px;
  font-size: 1.5em;
}
.banner h2{
  font-size: 3em;
  letter-spacing: -0.9px;
}

  h3.w3l_head {
    text-transform: uppercase;
    text-align: center;
    color: #111;
    font-size: 3.0em;
    letter-spacing: -0.9px;

    // font-family: sans-serif;
}
.main{

}
#home{


}
.w3l_para{
  text-align: center;
  text-transform: uppercase;
  color: #44c7f4;
  letter-spacing: 10px;
}
.w3ls-agile-center{
  height: 100%;
  width:100%;
  text-align: center;


}
.center1{
  position: absolute;
  left: 50%;
  top: 50%;
}
.w3ls-agile-center-info{
  margin-bottom: 0px;
  padding: 1em 0;
  width: 812px;
  border-bottom: 1px dashed #44c7f4;
}
.w3ls-agile-center-info ul{
  list-style-type:none;
  display: inline-block;
  width: 812px;

}
.hl4{
  display: inline-block;
  font-size: 1.6em;
  margin: 0;
  text-transform: uppercase;

  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.h15{
  padding-left: 50px;
  display: inline-block;
  margin:0;
  font-size: 14px;
  letter-spacing: 1px;
}
.profile{
  width:100%;
  height: 100%;
}
.container{
  margin: 0px;
}
.resume-w3l{
  background-color: black;
  padding-bottom: 100px;
}
.resume-w3l h3{
  text-align: center;
  color: #44c7f4;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  // text-shadow: 2px 2px black;
}
.education-w3l{
  padding: 3em 3em;
  color: blue;
}
.education-grids{
  margin-top: 2em;
  box-sizing: border-box;
  display: block;
  margin:0;
}
.education-w3l{

}
.education-year{
  float: left;
  width: 30%;
  border-left: 5px solid #eb5424;
  padding-left: 14px;
}
.education-agile-w3l-info h4{
  text-transform: uppercase;
  font-size: 1.4em;
  color: #333;
  letter-spacing: 2px;
  padding: 0 4em;
  margin-top: 2em;

}
.education-agile-w3l-info p{
  font-size: 0.9em;
  line-height: 1.9em;
  color: #777;
  margin-top: 10px;

}
.clearfix::after{
  content: "";
  clear:both;
  display:table;
  box-sizing: border-box;
  border-bottom: 2px solid #333;

}
.skill{
  background-color: black;
  padding-bottom: 86px;
  }
.skill h3{
  text-align: center;
  color: #44c7f4;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.skill-agile{
  padding: 0 4em;
  margin-top: 2em;
}
.skill-agile p{
  margin: 0;
  letter-spacing: 1px;
  box-sizing: border-box;

}
.blabel{
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
  padding-top: 10px;

}
