.navbar-custom {
    background-color:#44c7f4;
    color: black;
    border-radius:0;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: right;
}
.nav-text{
  color:black;
  font-weight: bold;
}
.nav-text:hover {
  color: black;
  background: rgb(68, 199, 244) !important;
  border-style: solid;
  border-width: medium;

}
.nav-text:hover::after{
  content:']';
  color: black;
}
.nav-text:hover::before{
  content:'[';
  color: black;
}
.center{
  text-align: center;
}
.jumbotron{
  color:  skyblue;
  height: 150px;
  width: 100%;
  position: fixed;
  padding-top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}
.fixed-bottom{
  padding-top: 0px;
  margin-bottom: 0px !important;
}

.footer{
  height: 300px;
  width: 100%;
  position: relative;
  font-weight: 100;
  color: black;
}
.footer-title{
  color: black;
  font-size: 30px;

}

body{
  // background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/56/54/S4LwVn.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.logo{

  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: block;

}
.tinted {
  margin-bottom: 0px;

  opacity: 0.9;
}
.title{


}
img {
  border: 1px solid #fff;
  border-radius: 4px;  /* Rounded border */
  padding: 5px;
  width: 150px;

}
.banner{
  margin: 0 auto;
  text-align: center;
  padding-top: 6em;
}
.banner img{
  border: 7px solid #333;
  width: 30%;

  margin: 0 auto;
  text-align: center;
}
.img-responsive{

    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.banner span{
  color: #44c7f4;
  letter-spacing: 4px;
  font-size: 1.5em;
}
.banner h2{
  font-size: 3em;
  letter-spacing: -0.9px;
}

  h3.w3l_head {
    text-transform: uppercase;
    text-align: center;
    color: #111;
    font-size: 3.0em;
    letter-spacing: -0.9px;

    // font-family: sans-serif;
}
.main{

}
#home{


}
.w3l_para{
  text-align: center;
  text-transform: uppercase;
  color: #44c7f4;
  letter-spacing: 10px;
}
.w3ls-agile-center{
  height: 100%;
  width:100%;
  text-align: center;
}
.center1{
  position: absolute;
  left: 50%;
  top: 50%;
}
.w3ls-agile-center-info{
  margin-bottom: 0px;
  padding: 1em 0;
  width: 100%;
  border-bottom: 1px dashed #44c7f4;
  align-items: center;
}

.w3l-grids-about{
  margin-top: 3em;
}
.w3ls-agile-center-info h3{
  display: block;
  font-size: 1.6em;
  margin: 0;
  text-transform: uppercase;
  float: left;
  letter-spacing: 1px;
  margin-top: 1px;
  margin-bottom: 10px;
}
.w3ls-agile-center-info p{
  color: #827e7e;
  font-size: 1.45em;
  display: flex;
  font-size: 1.45em;
  margin-bottom: 0px;
  padding-left: 10px;
  letter-spacing: 1px;
}
.mail{
  color: #827e7e;

}


.profile{
  width:100%;
  height: 100%;
}
.w3l_head_1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  letter-spacing: 0px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
}
@media (max-width: 1440px){
.education-w3l {
    padding: 6em 4em;
}}
@media (min-width: 992px){
.col-md-6 {
    width: 50%;
}}
@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}}
h3.w3l_head {
    text-align: center;
    color: #333;
    font-size: 3.5em;
    letter-spacing: 2px;
}
.education-agile-grids {
    margin-top: 2em;
}
.education-agile-w3l{
  box-sizing: border-box;
}
.education-agile-w3l-year {
    float: left;
    width: 30%;
    border-left: 5px solid #eb5424;
    padding-left: 14px;
}
.education-agile-w3l-year h4 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2px;
}
.education-agile-w3l-year h6 {
    color: #44c7f4;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 1em;
}
.education-agile-w3l.two {
    margin: 1em 0;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 1em 0;
}
.skill-agile {
    padding: 0 4em;
    margin-top: 2em;
}
.t_group p {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 1em;
  }
.p1 {
  background-color: #3D9970;
  padding-left: 5em;

}
.p2{
  background-color: #7FDBFF;
  padding-left: 5em;
}
.p3{
  background-color: #B10DC9;
  padding-left: 5em;
}
.p4{
  background-color: #FF851B;
  padding-left: 5em;
}
.p5{
  background-color: #FF4136;
  padding-left: 5em;
}
.p6{
  background-color: #AAAAAA;
  padding-left: 5em;
}
.p7{
  background-color: #FFDC00;
  padding-left: 5em;
}
